<app-header></app-header>
<app-sidenav></app-sidenav>
<div class="board-wrapper">
    <div class="board-main-content">
        <div class="board-canvas">
            <ol class="table-container" cdkDropListGroup>
                <li class="column" *ngFor="let column of columns; let i = index" cdkDropList [cdkDropListData]="column.items" (cdkDropListDropped)="drop($event, i)">
                    <div class="column-wrapper" cdkDrag cdkDropList (cdkDropListData)="columns" (cdkDropListDropped)="dropColumn($event)">
                        <div class="column-header">
                            <div class="header">
                                <h2 role="textbox">{{ column.name }}</h2>
                            </div>
                            <button #addColumnBtn class="column-button" (click)="openDialog(addColumnBtn)">
                                <span class="btn-icon">
                                    <span class="overflow-menu">
                                        <mat-icon class="menu-icon">menu</mat-icon>
                                    </span>
                                </span>
                            </button>
                        </div>
                        <div class="top-buffer"></div>
                        <ol class="column-list" data-auto-scrollable="true">
                            <li class="data-column-list" *ngFor="let item of column.items; let j = index" cdkDrag [cdkDragDisabled]="item.editing">
                                <div class="column-item">
                                    <div class="card" *ngIf="!item.editing">
                                        <a class="item" href="/" dir="auto">{{ item.value }}</a>
                                    </div>
                                    <div class="edit-item" *ngIf="item.editing">
                                        <textarea matInput [(ngModel)]="item.value" class="edit-textarea"></textarea>
                                        <button mat-raised-button color="primary" class="save-btn" (click)="saveChanges(i, j)">Save</button>
                                    </div>
                                    <button class="edit-card" (click)="startEditing(i, j)">
                                        <span *ngIf="!item.editing">
                                            <mat-icon class="edit-icon">edit</mat-icon>
                                        </span>
                                    </button>
                                </div>
                            </li>
                        </ol>
                        <div class="list-footer">
                            <button class="footer-btn" (click)="startAdding(i)">
                                <div class="add-content" *ngIf="!column.adding">
                                    <span class="add-icon">
                                        <mat-icon class="test">add</mat-icon>
                                    </span>
                                    <span class="add-card">Add a card</span>
                                </div>
                                <div class="edit-item" *ngIf="column.adding">
                                    <textarea matInput [(ngModel)]="newItemValues[column.name]" class="new-textarea"></textarea>
                                    <button mat-raised-button color="primary" class="add-btn" (click)="addNewItem(i)">Add Item</button>
                                    <mat-icon class="close-icon" (click)="closeNewItemDiv(column.name)">close</mat-icon>
                                </div>
                            </button>
                        </div>
                    </div>
                </li>
                <div class="column">
                    <div class="column-header new-column-content">
                        <div class="header" *ngIf="!addNewColumn" (click)="openColumnInput()">
                            <mat-icon class="add-icon">add</mat-icon>
                            <h2 role="textbox">Add another list</h2>
                        </div>
                        <div class="" *ngIf="addNewColumn">
                            <textarea matInput [(ngModel)]="newColumnTitle" class="column-textarea"></textarea>
                            <div class="btn-container">
                                <button mat-raised-button color="primary" class="add-btn" (click)="createNewColumn()">Add list</button>
                                <mat-icon class="close-icon">close</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </ol>
        </div>
    </div>
</div>
