<span mat-dialog-title>
    <span class="title">List Actions</span>
    <button mat-icon-button mat-dialog-close aria-label="Close" class="close-button">
      <mat-icon>close</mat-icon>
    </button>
</span>
<div mat-dialog-content>
    <li class="list-items">
      <button mat-button class="item-btn" (click)="addCard()" style="color: #EBECF0;">Add Card</button>
      <button mat-button class="item-btn" (click)="orderItems()" style="color: #EBECF0;">Order List (newest first)</button>
      <button mat-button class="item-btn" (click)="orderItems()" style="color: #EBECF0;">Order List (oldest first)</button>
    </li>
</div>
  